@import '../../../assets/nullstyle';
@import '../../../assets/variables';

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: absolute;
	left: 4.4em;
	bottom: 11.07%;

	& > li {
		border: 3px solid $text_3;
		background-color: $text_4;
		width: 42.4em;
		height: 3em;
		border-radius: 10px;
		text-align: center;
		padding-top: 0.95em;
		cursor: pointer;

		&:hover {
			background: $gradient_1;
			color: $button_default_color;
			border: 3px solid $button_default_color;
		}

		&:active {
			background: $button_active_color;
			color: $primary_1;
			border: 3px solid $button_active_color;
		}
	}
}
