@import '../../../assets/nullstyle';
@import '../../../assets/variables';

.button {
	font-family: 'Ubuntu', sans-serif;
	font-size: $fz-s;
	border-radius: 12px;
	width: 22em;
	height: 3.2em;
	text-align: center;
	background-color: $button_no-active_color;
	color: $primary_2;
}

.button1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: $fz-s;
	border-radius: 12px;
	width: 22em;
	height: 3.2em;
	text-align: center;
	background-color: $button_default_color;
	color: $primary_1;
}

.help {
	width: 3.2em;
	height: 3.2em;
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	top: 2.5em;
	right: 8.5em;
	cursor: pointer;

	&:hover {
		background-color: $button_default_color;
	}
}

.exit {
	width: 3.2em;
	height: 3.2em;
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	top: 2.5em;
	right: 2.4em;
	cursor: pointer;

	&:hover {
		background-color: $button_default_color;
		background-color: rgb(182, 0, 0);
	}
}
